<div class="container">
    <div class="login">
        <h1 style="text-align: center; padding-bottom: 50px;">Login</h1>
      <div class="example-container">
        <mat-form-field style="margin-left: 15px;">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" required>
        </mat-form-field>
      </div>
      
      <div class="example-container">
        <mat-form-field style="padding-bottom: 50px;">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div style=" margin-bottom: 20px; margin-left: 10px;">
        <button type="button" class="button2" style=" margin-right: 20px;" routerLink="/">Cancel</button>
        <button type="button" class="button1" routerLink="/dashboard">Sign in</button>
      </div>
      
      
    </div>
  </div>
  