<div class="container">
  <form [formGroup]="login" (ngSubmit)="onSubmit()">
  <div class="login">
        <h1 style="text-align: center; padding-bottom: 50px;">Login</h1>
      <div class="example-container">
        <mat-form-field >
          <mat-label>Enter your worknumber</mat-label>
          <input matInput id="username" type="username" formControlName="username">
        </mat-form-field>
      </div>
      
      <div class="example-container">
        <mat-form-field style="padding-bottom: 50px;">
          <mat-label>Enter your password</mat-label>
          <input matInput id="password" type="password" formControlName="password">
        </mat-form-field>
      </div>
      <div style=" margin-bottom: 20px; margin-left: 10px;">
        <button type="button" class="button2" style=" margin-right: 20px;" routerLink="/">Cancel</button>
        <button type="submit" class="button1" value="Login">Sign in</button>
      </div>
      
      
    </div> 
  </form>

</div>