<h1> My code inventory</h1>

<!--Todo: Display my invetory-->
<div class="inventory-grid">
<!--
    <div>
        <img [src]="" width="50"/>
        <p></p>
    </div>
-->
<!--Todo: extract inventory to component -->
    <app-inventory-item *ngFor="let item of inventoryList" [item]="item" class="card"></app-inventory-item>
</div>



<!-- ngIf -->
<p *ngIf="inventoryList.length == 0">no inventory avalible at the moment</p>



<!--Todo: add new inventory item-->

<p>Add new inventory</p>
<form [formGroup]="newInventoryItem" (ngSubmit)="addNewInventory()">
    <input 
        formControlName="name" 
        placeholder="Please enter your name" 
        type="text"
        style="margin-right: 10px;"/>

    <input 
        formControlName="category" 
        placeholder="Please enter your name" 
        type="text"
        style="margin-right: 10px;"/>
        

    <input 
        formControlName="description" 
        placeholder="Please enter your name" 
        type="text"
        style="margin-right: 10px;"/>

    <input type="submit" value="Add" [disabled]="newInventoryItem.status =='INVALID'"/>
    
</form>
