.example-card {
    max-width: 400px;
  }

.button{
  width: 80px;
  height: 30px;
  background-color: rgb(30, 30, 30);
  color: white;
  border-radius: 5px;
}

.imput{
  height: 30px;
  border-radius: 5px;
}