* {
    font-family: sans-serif;
}

.landing-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around; 
    padding: 20px; 
}

.header-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around; 
    
}

.card {
    width: calc(33.33% - 20px);
    max-width: 300px; 
    padding: 20px;
}
