<!--
  <h1>Hallo {{title}}!</h1>
-->

<!--Replays with your inventory component-->

<!--<app-inventory></app-inventory>-->
<!--<app-pagenotfount></app-pagenotfount>-->
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PamperPets</span>
  <span class="example-spacer"></span>
  <a routerLink="/inventory" routerLinkActive="active" ariaCurrentWhenActive="page" style="padding-right: 10px;">Inventory</a>
  <a routerLink="/crafting" routerLinkActive="active">Crafting</a>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>




<router-outlet />
