<!--
  <h1>Hallo {{title}}!</h1>
-->

<!--Replays with your inventory component-->

<!--<app-inventory></app-inventory>-->
<!--<app-pagenotfount></app-pagenotfount>-->

@if(isLoggedIn){
<mat-toolbar class="nav">
  <span style="font-family: 'Nunito', Helvetica, sans-serif;" routerLink="/landing">PamperPets</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon person-icon" aria-label="Example icon-button with person icon"
    routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
  </button>

  @if(isAdmin){
  <button mat-icon-button class="example-icon person-icon" aria-label="Example icon-button with person icon"
    routerLink="/chart">
    <mat-icon>show_chart</mat-icon>
  </button>

  }

  <button (click)="callLogout()">Logout</button>
</mat-toolbar>
}@else{
<a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>

}

<router-outlet></router-outlet>