<!--
  <h1>Hallo {{title}}!</h1>
-->

<!--Replays with your inventory component-->

<!--<app-inventory></app-inventory>-->
<!--<app-pagenotfount></app-pagenotfount>-->
<mat-toolbar class="nav">
  <span style="font-family: 'Nunito', Helvetica, sans-serif;" routerLink="/landing">PamperPets</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon person-icon" aria-label="Example icon-button with person icon" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button class="example-icon person-icon" aria-label="Example icon-button with person icon" routerLink="/crafting">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-icon-button class="example-icon person-icon" aria-label="Example icon-button with person icon" routerLink="/chart">
    <mat-icon> show_chart</mat-icon>
  </button>
  
</mat-toolbar>




<router-outlet />
