<h1 class="example-container">Crafting page</h1>



<div class="container">
    <div class="recipes-wrapper" style="display: flex; flex: 2; flex-direction: column; justify-content: start;">
        <div class="recipes-container"> <!--x3 -->
            <h2>Recipies for Pretoria</h2>
            @for(recipe of recipes; track $index){
            @if(recipe.locationId == 1){
            <!--inside if statement above -->
            <h3 (click)="setSelectedRecipe(recipe)">{{recipe.name}}: {{recipe.amountCrafted}}</h3>
            <p>{{recipe.description}}</p>
            }
            }
        </div>
        <div class="recipes-container"> <!--x3 -->
            <h2>Recipies for Cape Town</h2>
            @for(recipe of recipes; track $index){
            @if(recipe.locationId == 2){
            <!--inside if statement above -->
            <h3 (click)="setSelectedRecipe(recipe)">{{recipe.name}}: {{recipe.amountCrafted}}</h3>
            <p>{{recipe.description}}</p>
            }
            }
        </div>
        <div class="recipes-container"> <!--x3 -->
            <h2>Recipies for Johannesburg</h2>
            @for(recipe of recipes; track $index){
            @if(recipe.locationId == 3){
            <!--inside if statement above -->
            <h3 (click)="setSelectedRecipe(recipe)">{{recipe.name}}: {{recipe.amountCrafted}}</h3>
            <p>{{recipe.description}}</p>
            }

            }
        </div>
    </div>

    @if(selectedRecipe)
    {<div class="crafting-container" style="flex: 1; margin-left: 50px;" style="background-color: #f2f2f2; padding: 20px;">
        <img [src]="selectedRecipe.icon" width="400" />
        <h2>{{selectedRecipe.name}}</h2>

        <p>Amount Crafted: {{selectedRecipe.amountCrafted}}</p>


        <p>Ingredients Needed:</p>

        <!-- 2 ways to loop -->
        <ul>
            @for(ingredient of selectedRecipe.ingredients; track $index){
            <li [style]="ingredient.inventory.amount >= ingredient.amountNeeded ? 'color: black' : 'color: red'">
                {{ingredient.inventory.name}} : {{ingredient.amountNeeded}}</li>
            }
        </ul>

        @if(selectedRecipe.isCraftable){
        <button class="button" (click)="craftNewRecipe(selectedRecipe)">
            Craft
        </button>
        }@else{
        <p style="color: red">
            Not enough ingredients available in inventory (marked in red)
        </p>
        }

    </div>}

</div>

<!--ONLY ADMIN USERS CAN SEE THE CRAFT PAGE-->